# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.sqlite

# Optional: если появятся сборочные папки
dist/
build/
coverage/